/* 
This is stylesheet code for Tasikmalaya Octobe Festival
We are Jawara Tasik
---- Salma Fitria A
---- Erik Dimas Triadi
---- Zam Zam Saeful Bahtiar
        2019
*/

body{
    /* full page */
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
     
    
}
.col-50{
    float:left;
    width:50%;
}
.col-25{
    float:left;
    width:25%;
}
.col-75{
    float:left;
    width:75%;
}
.col-100{
    clear:left;
    width:100%;
}
a{
    text-decoration:none;
}

/* start navigasi */
nav{
    background-color: #34495e;
    display:flex;
    padding:25px 0;
    position: absolute;
    
}
nav a{
    padding:0 10px;
    color:#d6d6d6; 
}
nav .logo a{
    font-weight:900;
}
nav .menu{
    margin-left:340px;
}
nav .menu a.icon{
    display:none;
    color:#FFF!important;
    
}
/* End Navigasi */

/* Header Start */
header{
    background:#000 url('https://zsbahtiar.github.io/tasikmalaya-october-festival/assets/img/about.jpg') no-repeat;   
    background-size: cover;
    height:700px;
    position: inherit;
}

.mask{
    margin-top:68px;
    height:632px;
    background-color: #000;
    position: absolute;
    opacity:0.6;
}
.hero{
    color:#fff;
    position: absolute;
    margin:200px 30px;
}
header .hero a{
    border:3px solid #34495e;
    padding:10px 60px;
    color:#d6d6d6;
    font-weight:bold;
    background-color: #34495e;
}
header .hero a:hover{
    background-color: transparent;
    color:#d6d6d6;
}
header .sch{
    float:right;
    margin-top:250px;
    clear:left;
    float:right;
    right:10%;
    position: absolute;
}
header .sch .date{
    background-color: #34495e;
    width: 64px;
    padding: 12px 0;
    text-align: center;
    font-size: 1.5em;
    color:#d6d6d6;
    font-weight: bold;
}
header .sch .place{
    color:#d6d6d6;
    margin-top:20px;
    background-color: #34495e;
    width: 64px;
    padding: 14px 0;
    text-align: center;
    font-size: 1.5em;
    
}
header .sch .date span,header .sch .place span{
    margin:0 0 0 85px;
    text-align: center!important;
    font-size:18px!important;

}

/* Header End */

/* Section Start */

/* About Start */
#about{
    background-color: #000;
    height:625px;
    position: relative;;
    
}
article{
    margin-top:48px;
    line-height: 1.5;
    position: absolute;
    left:25%;
}
#about article h2.bdr-right{
    border-left: teal 12px solid;
    padding:0 20px;
    color:#d6d6d6;
}
#about article p{
    position: absolute;
    color:#d6d6d6;
}
#about a{
    position: absolute;
    top:70%;
    left:50%;
    color:#acabab;
}
#about a:hover{
    color:#fff;
}
/* About End */
/* Section Register START*/
#register{
    position: absolute;
    height:500px;
    background-color:#000;
}
#register .join-us,#register .volunteer{
    margin:40px 0 0 0;
}
#register .volunteer form .lbl label{
    display:block;
    color:#d6d6d6;
    padding:10px 0;
}
#register .volunteer form .data input{
    display:block;
    padding:10px 0;
    width:80%;
    border:2px solid;
    
}
#register .volunteer form .data{
    margin-left:30%;
    margin-top:-115px;
}
#register .volunteer form input[type="submit"]{
    margin-top:20px;
    width:50%;
    height: 40px;
    margin-left:15%;
    background-color: #d47b14;
    border:2px solid #d47b14;
    border-radius:24px;
    cursor:pointer;
}
#register .join-us a{
    color:#FFF!important;
    font-size:36px;
    padding:0 20px;
    display:block; 
}
#register .join-us .title-join{
    display: block;
    color:#FFF;
    margin-left:20px;
    font-weight:900;
}
#register .join-us .info span{
    color:#FFF;
    display:block;
    margin-left:75px;
    padding-bottom:25px;
}
#register .join-us .info{
    margin-top:-120px;
    
}
#register h2.bdr-right-org{
    border-left: #d47b14 12px solid;
    padding:80px 0 0 20px;
    color:#FFF!important;
}
.profile{
    color:#FFF!important;
    font-style:italic;
    margin-left:40%;
}
/* Section Register END */
/* Section End */
/* font*/
.m{
    font-size:16px;
}
.lg{
    font-size:20px;
}
.xl{
    font-size:30px;
}
.xxl{
    font-size:36px;
}
#scrollsections-navigation {
    z-index: 1000;
    position: fixed;
    /* top: 15px;
    left: 10px;
    right: 0;
    width: 100%; */
    margin: 0;
}
/* #scrollsections-navigation a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    margin-right: 20px;
    text-decoration: none;
} */
#scrollsections-navigation a.active-scrollsection {
    color:#FFF;
    font-weight:900;
}
.active{
    color:#FFF;
    font-weight:900;
}
